/* Main Styles Here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* General Styles Start */
:root {
  --primary-color: #ffb742;
  --primary-dark: #fb8c00;
  --white: #fff;
  --background-color: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: var(--background-color);
}

.btn {
  border: none;
  padding: 6px 30px;
  font-size: 1rem;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.primary-btn {
  background-color: var(--primary-color);
}

.primary-btn:hover {
  background-color: var(--primary-dark);
}
/* General Styles End */

/* Header Navigation Bar Start */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 0 3.125rem;
}

.navbar .navbar-logo img {
  height: 3.75rem;
}

.navbar .navbar-menu {
  display: flex;
}

.navbar .navbar-menu .navbar-menu__item {
  list-style: none;
}

.navbar .navbar-menu .navbar-menu__item a {
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
  margin-right: 1.56rem;
  transition: color 0.3s ease;
}

.navbar .navbar-menu .navbar-menu__item:hover a {
  color: var(--primary-color);
}

.navbar .navbar-menu .navbar-menu__item:last-child a {
  margin: 0;
}
/* Header Navigation Bar End */
